<% provide(:title, "Editing Monthly Summary") %>

<div class="with-padding">

  <%= render 'form' %>

  <div class="margin-top">
    <%= link_to 'Show Summary', @monthly_summary %> |
    <%= link_to 'Back To Summary Listing', monthly_summaries_path %>
  </div>

</div>
