<li>
        <span class="message-status">
        </span>
        <span class="message-info">
                <span class="blue"><%= date_format(trash.delivered_at) %></span>
        </span>
        <%= link_to message_path(trash.message), title: 'view message', remote: true do %>
            <strong class="blue"><%= trash.sender_full_name %></strong><br />
            <%= subject(trash) %>
        <% end %>
</li>
