<% provide(:current_messages, " class='current'".html_safe) %>
<% provide(:title, "Messages") %>

<iframe src="https://email.1and1.com/ox6/ox.html" sandbox="allow-scripts allow-forms allow-same-origin" seamless height='700' width='1075'>
  <p>Your browser does not support iframes.</p>
</iframe>
