<% flash.each do |key, value| %>
      <%= content_tag(:p, class: flash_message_class(key)) do %>
        <span class="block-arrow"><span></span></span>
        <a href="#" title="Hide message" class="close show-on-parent-hover">✕</a>
        <%= value %>
      <% end %>
<% end %>
