<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
        <!-- Active shortcut -->
        <li<%= yield(:current_dashboard) %>><a href="./" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
        <!-- Background shortcut -->
        <li<%= yield(:current_messages) %>><%= link_to "Messages", inbox_path, class: "shortcut-messages", title: "Messages" %></li>
        <!-- Disabled shortcut -->
        <li><span class="shortcut-notes" title="Notes">Notes</span></li>
</ul>
