<section id="menu" role="complementary">


        <!-- This wrapper is used by several responsive layouts -->
        <%= render 'shared/menu_content' %>

        <!-- End content wrapper -->

        <!-- This is optional -->
        <footer id="menu-footer">
                <!-- Any content -->
        </footer>

</section>
