<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
        <!-- Active shortcut -->
        <li<%= yield(:current_dashboard) %>><%= link_to "Dashboard", root_url, class: "shortcut-dashboard", title: "Dashboard" %></li>
        <!-- Background shortcut -->
        <li<%= yield(:current_messages) %>><%= link_to "Messages", inbox_path, class: "shortcut-messages", title: "Messages" %></li>
        <!-- Disabled shortcut -->
        <li><span class="shortcut-notes" title="Notes">Notes</span></li>
</ul>
