<div class="dashboard">

    <div class="standard-tabs">

      <!-- Tabs -->
      <ul class="tabs">
        <%= render partial: 'club_tab', collection: @clubs %>
      </ul>

      <!-- Content -->
      <div class="tabs-content">

        <%= render partial: 'tab_content', collection: @clubs, as: :club %>

      </div>

    </div>

</div>