<%= content_tag :div, { id: "tab-#{club_counter+1}", class: "with-padding" } do %>

  <div class="columns">

  	<%= render partial: 'block_content', collection: MonthlySummary::SUMMARY_TYPES, as: :block_name, 
  	    locals: { club: club, summary: club.monthly_summaries.current(@current_month).first } %>

  </div>

<% end %>