<% provide(:title, "Tasks") %>
<% content_for :additional_styles do %>
  <%= stylesheet_link_tag 'css/styles/table' %>
<% end %>

<% content_for :panel_control do %>
  <%= link_to new_project_path, class: 'button' do %>
    <span class="button-icon"><span class="icon-star"></span></span>
    Create Project
  <% end %>
<% end %>

<table class="simple-table">
<thead>
    <tr>
      <th scope="col">Projects</th>
      <th scope="col"># tasks</th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => 'project', :collection => @projects %>
  </tbody>
</table>

<% content_for :template_functions do %>
  <%= javascript_include_tag 'js/developr.table' %>
<% end %>

