<% provide(:title, "Edit Daily Summary") %>

<div class="with-padding">

	<%= render 'form' %>

	<div class="margin-top">
		<%= link_to 'Show Summary', [@monthly_summary,@daily_summary] %> |
		<%= link_to 'Back To Monthly Summary', @monthly_summary %>
	</div>
</div>
