<table class="simple-table">
  <tbody>
    <% checklist.checklist_items.each do |item| %>
      <tr>
        <th scope="row"><%= item.name %></th>
        <td>
          <% unless item.is_complete? Time.now %>
            <%= link_to 'Complete', checklist_item_complete_path(item), class: 'button', remote: true, method: :put %>
          <% else %>
            <span class="green margin-right"><strong>Completed!</strong></span>
          <% end %>
        </td>
        <td>
          <% if item.is_complete? Time.now %>
            <%= link_to 'Undo', checklist_item_undo_complete_path(item), class: 'button', remote: true, method: :put %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
