.event-layer {
  visibility: hidden;

  border: 1px solid #ccc;

}

.calendar_event_editor {
  display: none;
}

.right_side {
  right: -315px;
}

.balloon {
  position: absolute;
  top: -30px;
  z-index: 1000;
  font-size: 13px;
  line-height: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  width: 260px;
  height: 235px;
  background-color: #fff;
}

.event_editor_fields {
  margin: 0;
  padding: 0;

  header {
    background-color: #f7f7f7;

    fieldset {
      display: block;
      -webkit-margin-start: 2px;
      -webkit-margin-end: 2px;
      -webkit-padding-before: 0.35em;
      -webkit-padding-start: 0.75em;
      -webkit-padding-end: 0.75em;
      -webkit-padding-after: 0.625em;

      table {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;

        td.summary {
          .event_input {
            width: 250px;
            font-size: 1.3em;
          }
        }
        td.spacer {
          width: 1%;
        }
        td.time {
          .event_input {
            width: 95px;
            font-size: 1.3em;
          }
        }
        td.event_description {
          padding-top: 10px;
          .event_input {
            width: 350px;
          }
        }
      }
      .event_input {
        background-color: inherit;
      }
    }
  }

  .event_input {
    border: none;
    border-bottom: 1px dotted #ccc;
  }

  .event_date {
    margin: 10px;
  }

  .event_subscribers {
    margin-top: 15px;
    .event_input {
      width: 360px;
    }
  }

  .event-link {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
  }

  .ends_at_date {
    div {
      margin-left: 100px;
    }
  }

  .event-link {
    margin-top: 5px;
  }

  .recurring_description {
    margin-top: 5px;
  }

  .recurring_days {
    font-size: .75em;
  }
}
