<fieldset class="fieldset">
  <p class="button-height inline-medium-label">
    <%= f.file_field :item %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields button icon-trash" %>
  </p>
</fieldset>
